* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.main-wrapper {
  width: 800px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #eee;
}

#mySlider {
  width: 600px;
  height: 600px;
  border: 1px solid #777;
  margin: 100px auto;
  position: relative;
}

.slider-controller {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 1.6;
}
.slider-controller.prev {
  right: -50px;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.slider-controller.next {
  left: -50px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.slider-controller.disable {
  color: red;
  cursor: default;
  pointer-events: none;
}

.slider-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider-row {
  position: absolute;
}
.slider-row:nth-child(odd) {
  left: 0;
}
.slider-row:nth-child(odd) .each-slide {
  float: left;
}
.slider-row:nth-child(even) {
  right: 0;
}
.slider-row:nth-child(even) .each-slide {
  float: right;
}

.each-slide {
  overflow: hidden;
}
.each-slide img {
  max-width: 100%;
  max-height: 100%;
}
