// imports
// --------------------------------------
@import "vendors/bootstrap/mixins";
@import "vendors/fontawesome/font-awesome";
@import "vendors/mixins";

// styles
// ------------------------------------------
*{
	@include box-sizing(border-box);
}
#mySlider{
	width: 500px;
	height: 500px;
	border: 1px solid #777;
	margin: 100px auto;
	position: relative;
}
.slider-controller{
	position: absolute;
	cursor: pointer;
	display: inline-block;
	@include square(50px);
	text-align: center;
	font-size: 30px;
	line-height: 1.6;

	&.prev{
		right: -50px;
		@include translate(0, 50%);
	}
	&.next{
		left: -50px;
		@include translate(0, -50%);
	}
	&.disable{
		color: red;
		cursor: default;
		pointer-events: none;
	}
}
.slider-frame{
	width:100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.slider-row{
	position: absolute;
	
	&.normal{
		.each-slide{
			float: left;
		}
	}
	&.snake{
		&:nth-child(odd){
			left: 0;
			.each-slide{
				float: left;
			}
		}
		&:nth-child(even){
			right: 0;
			.each-slide{
				float: right;
			}
		}
	}
}
.each-slide{
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
	}
}