// imports
// --------------------------------------
@import "vendors/bootstrap/mixins";
@import "vendors/fontawesome/font-awesome";
@import "vendors/mixins";

// Styles
// -------------------------------------
html, body{
	width: 100%;
	height: 100%;
	margin: 0; padding: 0;
	background-color: #ccc;
}
.main-wrapper{
	width: 800px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #eee;
}